body{
  font-family: Arial;
  font-size: 1.5rem;
  background-color:#002E94;
  color:#E1CeB5
}

a:link{
  color:#E1CEB5;
}
a:visited{
  color:#E1CEB5;
}

a:hover{
  color:#FFE7CC;
}

.profilePic{
  Border-radius:50%;
  Height:400px;
  Width:400px;
}


.profileAlignment{
  Padding-left:20%;
  Padding-right:20%;
}

.centerTable{
  Margin-left:auto;
  Margin-right:auto; 
}

.linkCells{
  Padding:10px;
}

.infoAlignment{
  margin-left: auto;
  margin-right: auto;
}

.headOneAlign{
  text-align:center;
}
ol{
  list-style-type:lower-roman;
}

.olLevelTwo{
  list-style-type:lower-roman;
}

.ulListType{
  list-style-type:none;
}

.songTitle{
  font-weight: bold;
  font-style: italic;
  text-decoration:underline;
  display: inline;
}

.liUnderline{
  text-decoration:underline;
  display: inline;
}


.businessList{
  Height:100px;
  Width:100px;
  border-radius:50%;
}
